::-webkit-scrollbar {
	width: 10px;
	height: 10px
}

::-webkit-scrollbar-thumb {
	background-color: #bbb
}

body{
	text-align: center;
	margin: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.url-input {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 75%;
	border-radius: 5px;
	border-bottom: 2px #3498db solid;
	border-left: none;
	border-right: none;
	border-top: none;
	outline: none;
	font-family: inherit;
	height: 56px;
	font-size: 16px;
	font-weight: 400;
	padding: 0 20px;
	background: rgba(0, 0, 0, 0.04);
	color: #000;
	transition: all 0.15s ease;
}

.url-input:hover {
	border-bottom: 4px #3498db solid;
	background: rgba(0, 0, 0, 0.07);
}

@media (max-width: 600px) {
	.url-input {
		height: 100px;
	}
}

button {
	max-width: 200px;
	border-radius: 5px;
	cursor:pointer;
	width: 100%;
	background-color: #3498db;
	border: 0;
	padding: 10px 0;
	margin: 10px 0;
	color: #fff;
	text-align: center;
	font-weight: bold;
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
}

button:hover {
	background-color: #308bc4;
}

button:disabled {
	cursor: not-allowed;
	background-color: #7cb2d7;
}