<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <title>ShortUrl</title>
</head>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/layer/layer.js}"></script>
<script th:src="@{/static/bootstrap-3.3.7/js/bootstrap.js}"></script>
<script th:src="@{/static/js/application.fn.js}"></script>
<script th:src="@{/static/js/server.js}"></script>
<!--<link rel="stylesheet" type="text/css" th:href="@{/static/css/mystyle.css}">-->
<link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap-3.3.7/css/bootstrap.css}">
<link rel="shortcut icon" th:href="@{/static/img/favicon.ico}">
<style>

</style>

<body class="light home" id="body">

<header>
    <div class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                </button>
                <a class="navbar-brand" href="https://ivii.cn">
                    <img th:src="@{/static/img/logo.png}" alt="短网址">
                </a>
            </div>
            <div class="navbar-collapse collapse"><ul class="nav navbar-nav navbar-right"><li><a target="_blank" href="https://rawchen.com">博客</a></li><li><a target="_blank" href="https://umami.rawchen.com/share/2">统计</a></li><li><a target="_blank" href="https://github.com/rawchen/ShortUrl" class="loginbtn">GitHub</a></li><li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2221999792" class="loginbtn">联系</a></li></ul></div>            </div>
    </div>
</header>



<section class="hero">
    <div class="container">
        <div class="row col-sm-12">
            <div class="col-xs-6">
                <div class="promo row">
                    <h1>老牌免费短网址<span>工具</span></h1>
                    <div class="description">专业社群营销、短信营销、互联网推广工具</div>
                    <div class="tit">特色功能</div>
                    <ul>
                        <li><span class="glyphicon glyphicon-globe"></span>自定义域名</li>
                        <li><span class="glyphicon glyphicon-random"></span>网址切换</li>
                        <li><span class="glyphicon glyphicon-retweet"></span>随机网址</li>
                        <li><span class="glyphicon glyphicon-saved"></span>自定义后缀</li>
                        <li><span class="glyphicon glyphicon-edit"></span>修改原网址</li>
                        <li><span class="glyphicon glyphicon-folder-open"></span>网址分组</li>
                        <li><span class="glyphicon glyphicon-map-marker"></span>智能定向</li>
                        <li><span class="glyphicon glyphicon-sort-by-order"></span>访问量限制</li>
                        <li><span class="glyphicon glyphicon-qrcode"></span>创建活码</li>
                        <li><span class="glyphicon glyphicon-equalizer"></span>数据统计</li>
                        <li><span class="glyphicon glyphicon-dashboard"></span>网址检测</li>
                        <li><span class="glyphicon glyphicon-wrench"></span>API接口</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6">
                <p class="main-image row"><img src="https://www.suoduan.net/themes/blue/images/banner.png" alt="网址缩短"></p>
            </div>
        </div>
    </div>
</section>
<section class="shortput">
    <div class="container">
        <div class="row">
            <div class="short">
                <form action="https://www.urlc.cn/shorten" id="main-form" class="shortform" role="form" method="post" autocomplete="off">
                    <div class="main-form">
                        <div class="row" id="single">
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                                    <input type="text" class="form-control main-input" name="url" value="" placeholder="请输入您要缩短的长网址" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary btn-block main-button" id="shortenurl" type="submit">立即缩短</button>
                            </div>
                        </div>
                    </div>
                    <div class="main-options clearfix">
                        <div class="row">
                            <div class="col-xs-6 col-md-3">
                                <h3>短网址有效期</h3>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <input type="text" class="form-control" data-toggle="datepicker" name="expiry" id="expiry" placeholder="默认永久有效" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <h3>访问密码</h3>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="text" class="form-control" name="password" id="pass" placeholder="设置访问密码" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tip">
                        <div class="ajax"></div>
                    </div>
                    <div class="share-this"></div>
                    <input type="hidden" value="0" name="multiple" id="multiple-form">
                    <input type="hidden" value="270bf5079bc5bc9c9a3bbf8a01c8286d">
                </form>      </div>
        </div>
    </div>
</section>
<section id="mainto">
    <div class="container">
        <h3 class="text-center featureH">从不止于链接缩短，一个专业的营销推广工具</h3>
        <p class="text-center featureP">助力社群推广、短信推广、线上媒体推广等领域内有效提升推广效果</p>
        <div class="row feature">
            <div class="col-sm-6">
                <div class="rand">
                    <span><i class="glyphicon glyphicon-globe"></i><h3>自定义域名</h3></span>
                    <span><i class="glyphicon glyphicon-random"></i><h3>网址切换</h3></span>
                    <span><i class="glyphicon glyphicon-retweet"></i><h3>随机网址</h3></span>
                    <span><i class="glyphicon glyphicon-saved"></i><h3>自定义后缀</h3></span>
                    <span><i class="glyphicon glyphicon-edit"></i><h3>修改原网址</h3></span>
                    <span><i class="glyphicon glyphicon-folder-open"></i><h3>网址分组</h3></span>
                    <span><i class="glyphicon glyphicon-map-marker"></i><h3>智能定向</h3></span>
                    <span><i class="glyphicon glyphicon-sort-by-order"></i><h3>访问量限制</h3></span>
                    <span><i class="glyphicon glyphicon-qrcode"></i><h3>创建活码</h3></span>
                    <span><i class="glyphicon glyphicon-equalizer"></i><h3>数据统计</h3></span>
                    <span><i class="glyphicon glyphicon-dashboard"></i><h3>网址检测</h3></span>
                    <span><i class="glyphicon glyphicon-wrench"></i><h3>API接口</h3></span>
                </div>
                <div class="senior">
                    <h2>智能定向，一个短网址多个推广链接</h2>
                    <p>在不同的地区、设备、浏览器等显示不同的页面，使用定向功能，将不同用户导向不同的最终页面，满足您多维度的推广需求。</p>
                    <h2>可修改原链接，灵活便捷</h2>
                    <p>对于已经生成的短网址，如果原链接有变化，目前在推广的短网址不便于重新生成，您可以进行原链接的替换，短网址不变。</p>
                </div>
            </div>
            <div class="col-sm-6 info">
                <h2>专业的高级数据分析，帮您深入了解用户</h2>
                <p>报表显示访问数据，包含用户访问量、访问机型、地理分布、浏览器等数据一应俱全，让您精准分析用户。</p>
                <p><strong>准备好提升您的品牌，发掘新的受众了吗？</strong></p>
            </div>
            <p class="text-center">
                <a href="https://www.urlc.cn/user/login" class="btn btn-secondary btn-lg btn-round">立即体验</a></p>
            <p></p>
        </div>
    </div>
</section>
<section class="light">
    <div class="container">
        <h3 class="text-center featureH">场景应用</h3>
        <p class="text-center featureP">满足多种应用场景，实时分析渠道推广效果</p>
        <div class="feature">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panelette">
                        <h3>短信营销</h3>
                        <p class="subtit">跳转快速稳定，提高用户体验和效果</p>
                        <p>减少字数成本，精准为您提供专业的营销推广统计报表数据，多台服务器保障全国各个地区极速跳转访问，降低无法访问的几率，为您的企业保驾护航。</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panelette">
                        <h3>社群推广</h3>
                        <p class="subtit">防误拦截屏蔽，保障推广内容有效性</p>
                        <p>根据公司产品生成短网址，设置各个渠道多平台投放，有效减少社群建立环节的用户流失。主动选择匹配属性，加入正确社群，降低推广复杂度并提升操作步骤。</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panelette">
                        <h3>产品运营</h3>
                        <p class="subtit">全国连通性高，全国各地正常访问</p>
                        <p>根据不同性别的用户、年龄、地区智能跳转到对应的推广页面，极大的提升产品的推广效果。生成不同的短链接，实现多个渠道的实时统计数据及推广报表。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-cms">
    <div class="container">
        <div class="row feature">
            <div class="col-sm-6">
                <div class="title">
                    <span>热点资讯</span>
                    <a href="https://www.urlc.cn/column/news" target="_blank">
                        <div class="more">
                            <span>more <i class="glyphicon glyphicon-menu-right"></i></span>
                        </div>
                    </a>
                </div>
                <div class="artlist">
                    <a href="https://www.urlc.cn/article/269" target="_blank">
                        <p>互联网营销下半场，品牌如何摆脱焦虑？</p>
                        <span>存量时代，红海竞争开启，热门赛道已接近饱和，获客成本越来越高、竞争压力</span>
                    </a>
                    <hr>
                    <a href="https://www.urlc.cn/article/268" target="_blank">
                        <p>150亿的剧本杀生意，品牌如何抢占这一波红利？</p>
                        <span>眼观现下，要说有什么新的休闲娱乐能让“90后”、“00后”暂时放下手机</span>
                    </a>
                    <hr>
                    <a href="https://www.urlc.cn/article/267" target="_blank">
                        <p>爆款文案：在文案中如何赢得客户信任</p>
                        <span>今天我们来说，在文案中如何赢得客户的信任。做过销售的可能都知道，“无信</span>
                    </a>
                    <hr>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="title tit-class d-flex align-items-cente">
                    <span>营销推广</span>
                    <a href="https://www.urlc.cn/column/marketing" target="_blank">
                        <div class="more d-flex align-items-center">
                            <span>more <i class="glyphicon glyphicon-menu-right"></i></span>
                        </div>
                    </a>
                </div>
                <div class="artlist">
                    <a href="https://www.urlc.cn/article/271" target="_blank">
                        <p>品牌理念不同，才是广告营销行业鄙视链的根源</p>
                        <span>在广告营销圈，由于不同的品牌理念也产生了一些鄙视链。为什么广告营销行业</span>
                    </a>
                    <hr>
                    <a href="https://www.urlc.cn/article/270" target="_blank">
                        <p>都说要追热点，可是你知道怎么追热点嘛？</p>
                        <span>在品牌营销中，“热点”是其中的重要元素。一方面，热点自带流量，可以成为</span>
                    </a>
                    <hr>
                    <a href="https://www.urlc.cn/article/263" target="_blank">
                        <p>想做好用户画像？先做好用户标签这个基础操作</p>
                        <span>本篇要分享的，是一个非常基础的，估计人人都听过的，却经常弄混淆的概念：</span>
                    </a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>            <footer class="main">
    <div class="container">
        <div class="row">
            <div class="text-center col-md-12">
                <a href="https://www.urlc.cn/column/news">热点资讯</a>
                <a href="https://www.urlc.cn/column/marketing">营销推广</a>
                <a href="https://www.urlc.cn/page/terms">用户协议</a>
                <a href="https://www.urlc.cn/report">举报网址</a>
                <a href="https://www.urlc.cn/contact">联系我们</a>
            </div>
            <div class="text-center col-md-12 copyright">
                Copyright © 2022 短网址 All Rights Reserved.
            </div>
        </div>
    </div>
</footer>
<div class="right-tool">
    <ul class="kefu-tool">
        <li class="kf-wechat">
            <a href="https://www.urlc.cn/contact" target="_blank"><i class="glyphicon glyphicon-comment"></i><p>联系我们</p></a>
        </li>
        <li>
            <a href="https://www.urlc.cn/report" target="_blank"><i class="glyphicon glyphicon-alert"></i><p>举报投诉</p></a>
        </li>
        <li id="backtop" style="display: list-item;">
            <a href="#body" id="back-to-top" style="display: inline;"><i class="glyphicon glyphicon-chevron-up"></i><p>返回顶部</p></a>
        </li>
    </ul>
</div>


<h2 style="text-align: center">生成短链接服务</h2>
<label for="longurl">
    <input id="longurl" name="longurl" class="url-input" type="text" placeholder="请输入你的链接">
</label>
<button type="button" id="do-submit" onclick="doSubmit()">生成</button>
<input id="shorturl" class="url-input" type="text">

</body>

<script>
    // layer.msg("请输入正确的网址", {
    //     icon: 2,
    //     closeBtn: 2
    // });
    const input = document.getElementById("longurl");
    input.focus();

    $('#longurl').bind("keypress", function() {
        if (event.keyCode === 13) {
            if (!$('#do-submit').prop("disabled")) {
                doSubmit();
            }
        }
    });

	function isUrl(str) {
        const v = new RegExp('^(?!mailto:)(?:(?:http|https|ftp)://|//)(?:\\S+(?::\\S*)?@)?(?:(?:(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])(?:\\.(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}(?:\\.(?:[0-9]\\d?|1\\d\\d|2[0-4]\\d|25[0-4]))|(?:(?:[a-z\\u00a1-\\uffff0-9]+-?)*[a-z\\u00a1-\\uffff0-9]+)(?:\\.(?:[a-z\\u00a1-\\uffff0-9]+-?)*[a-z\\u00a1-\\uffff0-9]+)*(?:\\.(?:[a-z\\u00a1-\\uffff]{2,})))|localhost)(?::\\d{2,5})?(?:(/|\\?|#)[^\\s]*)?$', 'i');
        return v.test(str);
    }

    function doSubmit() {
        var link = $("#longurl").val().trim();
        if (isUrl(link)) {
            // 如果包含本域名
            if (link.indexOf(window.location.host) !== -1) {
                input.focus();
                layer.msg("不允许循环哦！");
                return;
            }
            const btnObject = document.getElementById('do-submit');
            btnObject.innerHTML = '生成(10)';
            btnObject.disabled = true;
            let sec = 10;
            let intervalId = setInterval(function () {
                if (sec > 0) {
                    btnObject.innerHTML = '生成(' + sec + ')';
                    btnObject.disabled = true;
                    sec--;
                } else {
                    btnObject.innerHTML = '生成';
                    btnObject.disabled = false;
                    clearInterval(intervalId);
                }
            }, 1000);
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/insert",//url
                data: {"longurl": link},
                success: function (result) {
                    if (result.code === 200) {
                        layer.msg("短链已复制到剪贴板");
                        $("#shorturl").val(document.location.protocol + "//" + window.location.host + "/" + result.msg);
                        document.querySelector('#shorturl').select();
                        if (document.execCommand('copy')) {
                            document.execCommand('copy');
                        }
                        document.querySelector('#shorturl').blur();
                    } else if (result.code === 400) {
                        layer.msg(result.msg);
                    } else if (result.code === 500) {
                        layer.msg(result.msg);
                    }
                },
                error: function () {
                    layer.msg("异常！");
                }
            });
        } else {
            input.focus();
            layer.msg("URL格式不正确！");

        }
    }

</script>
<script async defer data-website-id="5263a40b-fbfc-4a9f-9b14-25baf7e5335d" src="https://umami.rawchen.com/umami.js"></script>
</html>